.active {
    background-color: #3E7BBC;
    color: white;
}
.CircularProgressbar-text {
  dominant-baseline: middle;
  text-anchor: middle;
}
.ss {
    background-image: url(assets/images/photo2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}